{% extends "base.html" %}

{% block title %}{{ SITENAME }} | {% trans %}Archives{% endtrans %}{% endblock %}
{% block content %}

    <h1>{% trans %}Archives{% endtrans %}</h1>

    {# based on http://stackoverflow.com/questions/12764291/jinja2-group-by-month-year #}

    {% for year, year_group in dates|groupby('date.year')|reverse %}
        {% for month, month_group in year_group|groupby('date.month')|reverse %}
            <h4 class="date">{{ (month_group|first).date|strftime('%b %Y') }}</h4>
            <div class="post archives">
                <ul>
                {% for article in month_group %}
                    <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
                {% endfor %}
                </ul>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
