            {% if not articles_page or first_article_of_day %}
            <h4 class="date">{{ article.date.strftime("%b %d, %Y") }}</h4>
            {% endif %}

            <article class="post">
                {% if article.title %}
                <h1 class="title">
                    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permanent Link to &quot;{{ article.title|striptags }}&quot;">{{ article.title }}</a>
                </h1>
              {% endif %}




		{% if not articles_page %}
		{% include "translations.html" %}
		{% endif %}                

    {% if article.prompt %}
                <figure class="langcorrect-prompt">

                  <blockquote>
                    {{ article.prompt }}
                  </blockquote>
                  <figcaption>{{ article.prompt_author }}</figcaption>
                </figure>
                {% endif %}

                {{ article.content }}
              {% if article.corrector or article.langcorrect %}
              <div class="langcorrect">
              {% if article.corrector %}
                <em>Corrector{% if ',' in article.corrector %}es{% endif %}</em>:
                {{article.corrector}}

                {% if not article.langcorrect %}
                  <br><em>Original</em>: <a
                    href="https://langcorrect.com/journal/{{article.slug}}">{{article.title}} (LangCorrect)</a>
                {% endif %}
              {% endif %}

              {% if article.langcorrect %}
                {% if article.corrector %}<br>{% endif %}
                <em>Original</em>: <a href="{{article.langcorrect}}">{{article.title}} (LangCorrect)</a>
              {% endif %}
              </div>
              {%endif%}

                <div class="clear"></div>

                <div class="info">
                  <a href="{{ SITEURL }}/{{ article.url }}">{% trans time=article.date.strftime("%H:%M") %}posted at {{ time }}{% endtrans %}</a>
                    {% if article.category.name != "misc" %}
                    &nbsp;&middot;&nbsp;<a href="{{ SITEURL }}/{{ article.category.url }}" rel="tag">{{ article.category }}</a>
                    {% endif %}
                    {% if article.tags %}
                    &nbsp;&middot;
                    {% for t in article.tags %}
                    &nbsp;<a href="{{ SITEURL }}/{{ t.url }}" class="tags{% if tag and tag.name == t.name %} selected{% endif %}">{{ t }}</a>
                    {% endfor %}
                    {% endif %}
                </div>
		{% if articles_page and DISQUS_SITENAME %}
		<a href="{{ SITEURL }}/{{ article.url }}#disqus_thread">Click to read and post comments</a>
		{% else %}
		{% include "disqus.html" %}
		{% endif %}
            </article>
