{# Use PAGINATION_PATTERNS or pagination may break #}
{% if DEFAULT_PAGINATION and (articles_page.has_previous() or articles_page.has_next()) %}

                <div class="clear"></div>
                <div class="pages">

                {% if articles_page.has_previous() %}
                    <a href="{{ SITEURL }}/{{ articles_previous_page.url }}" class="prev_page">&larr;&nbsp;{% trans %}Previous{% endtrans %}</a>
                {% endif %}

                {% if articles_page.has_next() %}
                    <a href="{{ SITEURL }}/{{ articles_next_page.url }}" class="next_page">{% trans %}Next{% endtrans %}&nbsp;&rarr;</a>
                {% endif %}

                <span>{% trans current=articles_page.number, total=articles_paginator.num_pages %}Page {{ current }} of {{ total}}{% endtrans %}</span>
                </div>
{% endif %}
